<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let item of columns">{{item}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; index as i">
      <!-- <th scope="row">{{ i + 1 }}</th> -->
      <td *ngFor="let column of columns">
        <span *ngIf="column!=='action'"> {{item[column]}}</span>
        <div *ngIf="column=='action'"> <button class="btn btn-outline-warning" (click)="buttonEvent(item)">{{buttontext}}</button></div>
      </td>
    </tr>
  </tbody>
</table>
